@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(165.88deg, #02334e 1.4%, #41beaf 104.08%);
  color: white;
  font-family: "Aldrich", sans-serif;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  padding-top: 100px;
  width: 100%;
  height: 6.25rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

@media screen and (max-width: 768px) {
  .header {
    height: 4.75rem;
  }
  .title {
    font-size: 2.5rem;
  }
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .title {
    font-size: 2.5rem;
  }
}
